
#home{
    height: 100vh;
    overflow:none;
}
.bg{
    height: 100vh;
    overflow-y: hidden;
    background-image: url('../asset/710649.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}